*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Custom Properties */
:root {
  --ff-primary: "M PLUS 1p", sans-serif;
  --ff-secondary: "Roboto", sans-serif;

  --fw-reg: 300;
  --fw-bold: 800;

  --clr-light: #fff;
  --clr-dark: #050505;
  --clr-accent: rgb(147, 197, 197);
  --clr-accent-lighter: rgb(198, 230, 230);
  --clr-accent-dark: rgb(16, 88, 88);

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25rem 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 5rem;
    --fs-h2: 4rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

body {
  background-color: var(--clr-light);
  font-family: var(--ff-primary);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.top-border {
  background-color: var(--clr-accent);
  min-height: 15px;
}

.pages-header {
  font-size: 80px;
  font-weight: var(--fw-bold);
}

.pages-subheading {
  font-size: 35px;
}

.social-icons a i {
  color: rgb(255, 255, 255);
  margin: 0 8px;
  padding-top: 20px;
}
@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 2rem;
    --fs-body: 1rem;
  }
}
/* Global View */

.navbar {
  position: sticky;
  top: 0;
}

/* Nav Bar */

.header {
  background-color: var(--clr-light);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9rem 1.5rem;

  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
}

.brand-name {
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3);

  /* float: left; */
  padding: 15px 0;
}

.brand-name a {
  color: var(--clr-dark);
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu li {
  margin-left: 3rem;
}
.nav-menu a {
  font-size: var(--fs-body);
  color: var(--clr-dark);
  font-family: var(--ff-primary);
}

.nav-menu a:hover {
  color: var(--clr-accent-dark);
}

.hamburger {
  display: none;
  position: relative;
  width: 35px;
  height: 30px;
  margin: 30px 20px 20px 0;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: var(--clr-dark);
  display: block;
  border-radius: 5px;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

/* Description */

.description {
  background-color: var(--clr-accent-lighter);
  align-items: center;
  text-align: center;
  padding: 25px;
  font-family: var(--ff-primary);
}

.description-text {
  line-height: 1.8;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: var(--fs-h3);
}

.intro-text {
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
  padding-top: 30px;
}

.description .social-icons {
  padding-bottom: 60px;
}

.description .social-icons a i {
  color: var(--clr-dark);
  margin: 0 25px;
}

/* Welcome */

.welcome {
  min-height: 200px;
  background-color: var(--clr-light);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px;
  align-items: center;
}

.welcome img {
  max-height: auto;
  width: 85%;
  text-align: center;
}

.welcome-text {
  text-align: center;
  margin: 0 15px;
}

.welcome-text h1 {
  font-size: var(--fs-h3);
}

.welcome-text p {
  padding-top: 20px;
  line-height: 2.5;
}

/* Interets */

.interests-header {
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  min-height: 60px;

  text-align: center;
  padding: 10px;
}

.interests {
  background-color: var(--clr-accent-lighter);
  /* background-image: url(images/compsci-logo2.jpeg); */
  color: var(--clr-dark);
  background-blend-mode: multiply;
  background-size: cover;

  min-height: 600px;
  text-align: center;
  padding: 20px;
}

.interests-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.interests-container img {
  width: 250px;
  height: 200px;
  object-fit: cover;
  text-align: center;
}

.interest-item {
  width: 30%;
  padding: 1.5em;
  text-align: center;
}

.interest-item h1 {
  padding: 20px;
  padding-bottom: 10px;
}

.interest-item p {
  padding-top: 10px;
}

/* Languages */

.languages {
  padding-bottom: 10px;
  text-align: center;
}

/* .languages h2 {
  text-align: center;
} */

.languages h4 {
  text-align: center;
}

.languages .card img {
  max-width: 100px;
  max-height: 100px;
  padding: 20px;
}

/* Footer */

footer {
  min-height: 30px;
  background-color: var(--clr-accent-dark);
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: var(--ff-secondary);
}

footer .social-icons {
  margin-right: 20px;
  padding-bottom: 15px;
}

footer .brand {
  font-size: var(--fs-body);
  margin-left: 20px;
  padding-top: 25px;
}

/* About Section */

.about-me {
  min-height: 500px;
  background-color: var(--clr-light);
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.about-me img {
  max-height: 600px;
  padding: 40px;
}

.about-text {
  padding: 30px;
}

.about-text h1 {
  text-align: center;
  font-family: "Allura", cursive;
  font-size: 60px;
}

.about-text p {
  line-height: 2;
  font-size: 17px;
  text-indent: 40px;
}

.favorite-things-header {
  min-height: 70px;
  background-color: #add1ee;
  text-align: center;
  padding-top: 15px;
}
.favorite-things {
  min-height: 500px;
  background-color: #cae1f3;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px;
}

.favorites-card {
  background-color: #e0ebf5;
  color: black;
  box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);
  width: 30%;
  min-height: 150px;
  margin-bottom: 40px;
}

.favorites-card h1 {
  text-align: center;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 600;
  font-size: 30px;
}

.favorites-card h2 {
  text-align: center;
  font-size: 20px;
}

.favorites-card p {
  padding: 10px;
  text-align: center;
}

/* Food Blog Page */

.portfolio-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.food-description-text {
  background-color: var(--clr-light);
  min-height: 150px;
  text-align: center;
  padding: 25px;
  line-height: 2.5;
  font-size: 20px;
}
.food-img {
  height: 500px;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.food-details {
  padding-top: 10px;
  color: transparent;
  margin: 10px;
}

.food-details a {
  font-family: "Times New Roman", Times, serif;
  color: rgb(2, 2, 2);
  font-size: 15px;
  text-decoration: none;
  font-weight: 600;
}

.description-meghaneatsnc {
  background-color: var(--clr-accent);
  min-height: 100px;
  width: 100%;
  text-align: center;
  padding: 30px;
}

.description-meghaneatsnc a {
  color: rgb(17, 72, 110);
}

/* Experience */

/* .experience-description h1 {
  min-height: 100px;
  font-size: 30px;
  padding-top: 35px;
  text-align: center;
} */
.project {
  min-height: 300px;
  background-color: var(--clr-light);
}

.project-container {
  text-align: center;
}

.project-item {
  padding: 1em;
}

.project-item h1 {
  padding-bottom: 0.5em;
}

.project img {
  max-width: 400px;
}

.languages {
  background-color: var(--clr-light);
}
.experience-header {
  min-height: 58px;

  text-align: center;
  padding-top: 1em;
  padding-bottom: 0.5em;
  font-size: var(--fs-h3);
}

.experience-title-section {
  min-height: 120px;
  background-color: var(--clr-accent);
  font-family: var(--ff-primary);
}
.experience-title-section h1 {
  padding-top: 0.25em;
  text-align: center;

  min-height: 70px;
  font-size: var(--fs-h2);
}

.cs-experience {
  min-height: 250px;
  background-color: var(--clr-accent-lighter);
  padding: 0.5em;
}

.cs-experience img {
  max-height: 200px;
}

.cs-experience-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.cs-experience-box {
  text-align: center;
  padding: 0 0.5em 2em 0.5em;
}

.cs-experience-box h1 {
  padding: 0.8em 0;
}

.marketing-experience {
  min-height: 250px;
  background-color: var(--clr-accent-dark);
}

.marketing-experience img {
  max-height: 400px;

  text-align: center;
  justify-content: center;
  align-items: center;
}

.marketing-experience-container {
  text-align: center;
}

.marketing-experience-text {
  padding: 20px 15px;
  text-align: center;
}

.marketing-experience-text h2 {
  font-size: 20px;
  padding-bottom: 20px;
}

.digital-software {
  min-height: 250px;
  background-color: rgb(147, 237, 240);
}

.card {
  background-color: #ffff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);
  padding: 20px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.resume {
  min-height: 100px;
  background-color: rgb(252, 180, 153);
}

/* Contact Section */

.pages-subheading a {
  color: navy;
}

.contact-info {
  background-color: rgb(243, 243, 243);
  min-height: 500px;
}

.contact-info h1 {
  text-align: center;
  padding: 40px;
  font-size: 60px;
}

.exit-section {
  background-color: rgb(165, 196, 197);
  min-height: 50px;
}

form {
  margin-top: 50px;
}

.contact-info h2 {
  font-size: 50px;
  text-align: center;
  padding-top: 20px;
}

.contact-form {
  text-align: center;
}

.contact-form input,
.contact-form button,
.contact-form textarea {
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  color: rgb(12, 12, 12);
  font-size: 18px;
  margin-bottom: 16px;
}

input {
  height: 45px;
}

form .submit {
  background-color: rgb(81, 158, 158);
  border-color: transparent;
  color: #ffff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}

form .submit:hover {
  background-color: rgb(139, 172, 172);
  cursor: pointer;
}

/* Media Queries */

@media (max-width: 975px) {
  :root {
    --fs-h1: 4rem;
    --fs-h2: 3rem;
    --fs-h3: 2rem;
    --fs-body: 1rem;
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .nav-mobile-menu {
    transition: 0.3s ease;
  }

  .hamburger.active #bar2 {
    opacity: 0;
  }

  .hamburger.active #bar1 {
    transform: translateY(4px) rotate(45deg);
  }

  .hamburger.active #bar3 {
    transform: translateY(-6px) rotate(-45deg);
  }

  .interest-item {
    width: 45%;
  }

  .nav-menu {
    margin-top: 40px;
    background-color: var(--clr-accent-dark);
  }
  .nav-menu li {
    padding: 20px;
  }

  .welcome {
    grid-template-columns: 1fr;
  }

  .welcome img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .welcome-text h1 {
    padding-top: 20px;
  }
}

/* Tablet View */

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .nav-mobile-menu {
    transition: 0.3s ease;
  }

  .hamburger.active #bar2 {
    opacity: 0;
  }

  .hamburger.active #bar1 {
    transform: translateY(4px) rotate(45deg);
  }

  .hamburger.active #bar3 {
    transform: translateY(-6px) rotate(-45deg);
  }

  .interest-item {
    width: 45%;
  }

  .nav-menu {
    margin-top: 40px;
    background-color: var(--clr-accent-dark);
  }
  .nav-menu li {
    padding: 20px;
  }

  .portfolio-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .about-me {
    grid-template-columns: 1fr;
  }

  .about-me img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .cs-experience-container {
    grid-template-columns: 1fr 1fr;
  }
}

/* Mobile View */

@media (max-width: 500px) {
  .interest-item {
    width: 95%;
  }

  .portfolio-wrapper {
    grid-template-columns: 1fr;
  }

  .cs-experience-container {
    grid-template-columns: 1fr;
  }
}
